## Inventory template
## Jenkins will replace all @vars@ accordingly
#

[@env@]
@db_ip@
@admin_ip@
@soa_ip@
@b2b_ip@
@bpm_ip@
@ess_ip@
@osb_ip@
@bam_ip@
@mft_ip@
@soa_host_1_ip@
@soa_host_2_ip@

[dbserver]
@db_ip@
[adminserver]
@admin_ip@
[soaserver]
@soa_ip@
[essserver]
@ess_ip@
[bpmserver]
@bpm_ip@
[b2bserver]
@b2b_ip@
[osbserver]
@osb_ip@
[bamserver]
@bam_ip@
[mftserver]
@mft_ip@
[soahost1server]
@soa_host_1_ip@
[soahost2server]
@soa_host_2_ip@

[all:vars]
db_ip=@db_ip@
admin_ip=@admin_ip@
